<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

{{range .}}
<ul>
    <li> {{Name}} </li>
    <ul>
        <li> {{Address}}, {{City}}/{{HotelRegion}} California, {{Zip}} </li>
    </ul>
</ul>
{{end}}

</body>
</html>