<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<ul>
{{range .}}

    <li> {{.AcaYear}} </li>
    <ul>
        <li> {{.Fall.Term}} </li>
        <ul>
            {{range .Fall.Courses}}
            <li> {{.Number }} </li>
            <ul>
                <li> Name: {{.Name}} </li>
                <li> Units: {{.Units}} </li>
            </ul>
            {{end}}
        </ul>
    </ul>
    <ul>
        <li> {{.Spring.Term}} </li>
        <ul>
            {{range .Spring.Courses}}
            <li> {{.Number }} </li>
            <ul>
                <li> Name: {{.Name}} </li>
                <li> Units: {{.Units}} </li>
            </ul>
            {{end}}
        </ul>
    </ul>
        <ul>
        <li> {{.Summer.Term}} </li>
        <ul>
            {{range .Summer.Courses}}
            <li> {{.Number }} </li>
            <ul>
                <li> Name: {{.Name}} </li>
                <li> Units: {{.Units}} </li>
            </ul>
            {{end}}
        </ul>
    </ul>
{{end}}
</ul>

</body>
</html>